<section id="servicios" class="wrapper">
  <div class="inner">
      <header>
        <h1>Servicios</h1>
      </header>

      <div class="row">

            <div class="col-sm-4">
              <div class="card">
                  <img class="card-img-top" src="../../../../assets/images/Desarrollo.jpg" alt="Programacion">
                  <div class="card-body">
                      <h5 class="card-title">Desarrollo de sistemas</h5>
  <!--
                      <p class="card-text">Tecnologías Open source como JS, Angular, HTML, CSS.</p>
  -->
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="card">
                  <img class="card-img-top" src="../../../../assets/images/Moodle.jpg" alt="Moodle">
                  <div class="card-body">
                      <h5 class="card-title">Cursos de e-learning</h5>
                      <!--
                      <p class="card-text">Instalación y Administración integral de Moodle.</p>
                      -->
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <img class="card-img-top" src="../../../../assets/images/Oracle.jpg" alt="Oracle">
                  <div class="card-body">
                      <h5 class="card-title">Oracle</h5>
                      <!--
                      <p class="card-text">Desarrollos integrales en Oracle Developer 6i/ 9i y 12c.</p>
                      -->
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>


