<section id="servicios" class="wrapper">
  <div class="inner">
      <header>
        <h1>Servicios</h1>
      </header>

      <div class="row">

            <div class="col-sm-4">
              <div class="card">
                  <img class="card-img-top" src="../../../../assets/images/Desarrollo.jpg" alt="Programacion">
                  <div class="card-body">
                      <h2 class="card-title">Desarrollo de sistemas</h2>

                      <p class="card-text">Desarrollamos portales a partir de sistemas de gestión de contenidos libres y flexibles, además del desarrollo de sitios y aplicaciones web a medida.</p>

                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="card">
                  <img class="card-img-top" src="../../../../assets/images/Moodle.jpg" alt="Moodle">
                  <div class="card-body">
                      <h2 class="card-title">Cursos de e-learning</h2>

                      <p class="card-text">Implementamos ambientes educativos virtuales basados en herramientas libres, para la gestión de cursos y capacitación a distancia.</p>

                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <img class="card-img-top" src="../../../../assets/images/Oracle.jpg" alt="Oracle">
                  <div class="card-body">
                      <h2 class="card-title">Oracle</h2>

                      <p class="card-text">Oracle ofrece un grupo completo e integrado de herramientas para la inteligencia de negocios y el desarrollo de aplicaciones, el cual respalda cualquier entorno de desarrollo</p>

                  </div>
              </div>
          </div>
      </div>
    </div>
</section>


