<section id="sistemas" class="wrapper">
  <div class="inner">

    <header>
      <h1>Portfolio</h1>
    </header>
    <!--
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    -->

    <section class="page-section portfolio" id="portfolio">
      <div class="container">
          <!--
          <h2 class="page-section-heading text-center text-uppercase mb-0">Portfolio</h2>
          -->
          <!--
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
          -->
          <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <a title="Mesa de Ayuda-Preguntas Frecuentes" href="https://www.lyseis.com.ar/Mesa_de_Ayuda/preguntasFrecuentes.html" target="_blank"><img class="img-fluid" src="../../../../assets/images/preguntasfrecuentes.jpg" alt="Los Tejos" /></a>
                  </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <a title="Mesa de Ayuda-Sistema" href="https://www.lyseis.com.ar/Mesa_de_Ayuda/" target="_blank"><img class="img-fluid" src="../../../../assets/images/mesadeayuda.jpg" alt="Los Tejos" /></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <a title="Campus Virtual" href="https://lyseis.com.ar/campus/" target="_blank"><img class="img-fluid" src="../../../../assets/images/campusvirtual.jpg" alt="Los Tejos" /></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <a title="Equinoterapia Goya" href="https://www.equinoterapiagoya.ar/" target="_blank"><img class="img-fluid" src="../../../../assets/images/equinoterapiagoya.jpg" alt="Los Tejos" /></a>
                </div>
            </div>


          <!--
            //Portfolio Item 5
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/safe.png" alt="" />
                </div>
            </div>
            // Portfolio Item 6
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/submarine.png" alt="" />
                </div>
            </div>
          -->
<!--
        </div>
    </div>
-->
        </div>
    </div>
  </section>
</div>
</section>

