<section id="banner">
  <div class="inner">
    <header>
      <h1>Bienvenido a Lyseis</h1>
    </header>

    <br>
    <div class="flex ">

      <div>
        <span class="icon fa-car"></span>
        <h3>Sitios Web</h3>
        <p>Diseños a medida</p>
      </div>

      <div>
        <span class="icon fa-camera"></span>
        <h3>Elearning</h3>
        <p>Administración de campus</p>
      </div>

      <div>
        <span class="icon fa-bug"></span>
        <h3>Aplicaciones</h3>
        <p>Desarrollo de sistemas</p>
      </div>

    </div>
<!--
    <footer>
      <a href="#" class="button">Get Started</a>
    </footer>
-->
  </div>
</section>


<section id="three" class="wrapper align-center">
  <div class="inner">
    <div class="flex flex-2">
      <article>
        <div class="image round">
          <img src="../../../assets/images/Lourdes.jpg" alt="Lourdes" />
        </div>
        <header>
          <h3>Lourdes Ojeda<br /> Licenciada en Comunicacion Social</h3>
        </header>
        <p>Lic. en Comunicación Social (UNC)<br /> Especialista en Educación y Nuevas Tecnologías (FLACSO) y Magister en Gestión y Producción en e-learning (Universidad Carlos III de Madrid).<br/> Se desempeño como coordinadora de tutores.</p>
        <footer>
          <a href="https://www.linkedin.com/in/lourdes-ojeda/" target="_blank" class="button">Leer Mas</a>
        </footer>
      </article>
      <article>
        <div class="image round">
          <img src="../../../assets/images/Martin.jpg" alt="Martin" />
        </div>
        <header>
          <h3>Martín Facundo Diaz<br /> Licenciado en Sistemas de Informacion</h3>
        </header>
        <p>Lic. en Sistemas de la Información (USAL).<br /> Especializado en programación Oracle PL / SQL, Forms y Reports. Conocimientos en Angular, Javascript y HTML. Se desempeñó en el <br /> área de sistemas de diferentes empresas.</p>
        <footer>
          <a href="https://www.linkedin.com/in/martinfacundodiaz/" target="_blank" class="button">Leer Mas</a>
        </footer>
      </article>
    </div>
  </div>
</section>

